name: Publish on GitHub, CurseForge & Modrinth    #The name of your GitHub Action on github.com

on:
  push:
    branches:
      - master

# Environment variables that can later be referenced using ${{ env.MINECRAFT_VERSION }}. These are useful for repeating information and allow for quick changes for new mod updates.
env:
  VERSION: 2.7
  MINECRAFT_VERSION: 1.21.8
  RELEASE_NAME: davdeos-item-magnet-mod-2.7-1.21.8
  JAVA_VERSION: 21
  MODRINTH_ID: V9obxUzB
  MODRINTH_TOKEN: ${{ secrets.PUBLISH_MODRINTH_TOKEN }}
  CURSEFORGE_ID: 992847
  CURSEFORGE_TOKEN: ${{ secrets.PUBLISH_CURSEFORGE_TOKEN }}
  GITHUB_TOKEN: ${{ secrets.PUBLISH_GITHUB_TOKEN }}

permissions:
  contents: write

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Check Environment Variables
        run: env

      - name: Checkout Repository
        uses: actions/checkout@v3
        with:
          submodules: true

      - name: Setup Java
        uses: actions/setup-java@v2
        with:
          distribution: "temurin"
          java-version: ${{env.JAVA_VERSION}}

      - name: Make Gradle Wrapper Executable
        if: ${{ runner.os != 'Windows' }}
        run: chmod +x ./gradlew

      - name: Build
        run: ./gradlew clean build

      - name: Upload build artifacts
        uses: actions/upload-artifact@v4
        with:
          name: build-artifacts
          path: ./build/libs  # Adjust path to your build output

  publish-modrinth:
    needs: build
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Repository
        uses: actions/checkout@v3

      - name: Download build artifacts
        uses: actions/download-artifact@v4
        with:
          name: build-artifacts
          path: ./build/libs  # Adjust path to your build output

      - name: Release to modrinth
        uses: Kir-Antipov/mc-publish@v3.3
        with:
          # Handle platform-specific parameters
          modrinth-id: "${{env.MODRINTH_ID}}"
          modrinth-token: "${{env.MODRINTH_TOKEN}}"

          name: "${{env.RELEASE_NAME}}"
          version: "${{env.VERSION}}"
          version-type: release
          changelog-file: CHANGELOG.md

          loaders: fabric
          game-versions: "${{env.MINECRAFT_VERSION}}"
          java: "${{env.JAVA_VERSION}}"

  publish-curseforge:
    needs: build
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Repository
        uses: actions/checkout@v3

      - name: Download build artifacts
        uses: actions/download-artifact@v4
        with:
          name: build-artifacts
          path: ./build/libs  # Adjust path to your build output

      - name: Release to curseforge
        uses: Kir-Antipov/mc-publish@v3.3
        with:
          # Handle platform-specific parameters
          curseforge-id: "${{env.CURSEFORGE_ID}}"
          curseforge-token: "${{env.CURSEFORGE_TOKEN}}"

          name: "${{env.RELEASE_NAME}}"
          version: "${{env.VERSION}}"
          version-type: release
          changelog-file: CHANGELOG.md

          loaders: fabric
          game-versions: "${{env.MINECRAFT_VERSION}}"
          java: "${{env.JAVA_VERSION}}"

  release-github:
    needs: build
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Repository
        uses: actions/checkout@v3

      - name: Download build artifacts
        uses: actions/download-artifact@v4
        with:
          name: build-artifacts
          path: ./build/libs  # Adjust path to your build output

      - name: Release to github
        uses: Kir-Antipov/mc-publish@v3.3
        with:
          # Handle platform-specific parameters
          github-tag: "v${{env.VERSION}}-${{env.MINECRAFT_VERSION}}"
          github-token: "${{env.GITHUB_TOKEN}}"
          github-generate-changelog: true

          name: "${{env.RELEASE_NAME}}"
          version: "${{env.VERSION}}"
          version-type: release
          changelog-file: CHANGELOG.md

          loaders: fabric
          game-versions: "${{env.MINECRAFT_VERSION}}"
          java: "${{env.JAVA_VERSION}}"
